* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: sans-serif;
  color: aqua;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  min-height: 100vh;
}
.container {
  position: relative;
}
.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(252, 0, 0, 0.562);
  box-shadow: 0px 0px 30px red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}
.clock b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 20px;
}
.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
}
.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hand i {
  position: absolute;
  background-color: var(--clr);
  width: 4px;
  height: var(--h);
  border-radius: 8px;
}
